body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

.content {
    padding: 50px 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

.description {
    margin-top: 30px;
}

.join-team {
    margin-top: 50px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #00aaff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}

.button:hover {
    background-color: #0088cc;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.box {
    background-color: #d2b48c;
    border: 2px solid #333;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 250px;
    text-align: left;
    transition: transform 0.2s;
}

.box:hover {
    transform: scale(1.05);
}

.box img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto 10px;
}

.box h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.box p {
    font-size: 14px;
    color: #333;
}
